/* ===========================
   Site setting
   =========================== */

@charset "UTF-8";

// Fonts
$font1: "Open Sans", Helvetica, Arial, sans-serif;
$font2: Georgia, serif;

// Colors
$red: #df2e30;
$blue: #1894c4;
$facebook: #3b5998;
$twitter: #43bfe1;

$color1: $red;
$color2: $blue;